{% extends "base.html" %}
{% block title %} TOMOZART {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-title text-center">
            <h1 class="text-center title"> Welcome to Thomas A Overment's (AKA Tomo's) Art Gallery</h1>
            <p class="display-6"> Hello and welcome to my online art gallery! I am Tomo, and I am thrilled to share my world of art with you. Here, you will find a collection of my work, ranging from vibrant spray paintings to mixed media canvas work.</p>
            <hr>
            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">
                <button class="btn btn-success btn-login-register">Logout</button>
            </a>

            {% else %}
            <a href="{% url 'account_login' %}"
                 class="btn btn-success btn-login-register">Login/Register
            </a>
            {% endif %}

    </div>

        <!-- Blog Entries Column -->
         <h1>Blog Posts</h1>
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title"><a href="{% url 'edit-post' post.pk %}">{{ post.title }}</a></h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                            <p class="card-text ">{{ object.content | safe }}</p>
                            <img src = "{{ object.url }}">
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
        

{% endblock %}